
/* Default styles for larger screens (desktops) */
/* .newChatBtn,
.sendBtn {
  margin: 0 10px;
  background-color: #4a90e2;
  color: #fff;
  font-weight: bold;
  height: 56px; 
  width: 125px;
  cursor: pointer;
  border-radius: 8px;
  border: 0px;
  height: 56px;
  width: 55px;
  background-color: #000;
}

.newChatBtn{
  background-color: #000;
  width: 125px;
}

.inputField {
  height: 60px;
  width: 80%;
  margin: 0 10px;
  border-radius: 8px;
  border-width: 1px;
  margin-top: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin-bottom: 80px;
  margin-top: 10px;
}

.container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 95vh;
  width: 100%;
  background-color: #f0f4f8;
} */
/* 
.chatHistory {
   max-height: 85vh; 
  overflow-y: auto;
  width: 70%;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
} */

/* Conditional padding */
/* .chatHistoryWithPadding {
  height: 85vh;
  padding: 10px;
  padding-top: 18px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chatMessage {
  padding: 8px;
  border-radius: 10px;
  max-width: 70%;
  font-size: 15px;
  line-height: 1.6;
}

.userMessage {
  background-color: #e1f5fe;
  align-self: flex-end;
  color: #0d47a1;
}

.gptMessage {
  background-color: #e8eaf6;
  align-self: flex-start;
  color: #1a237e;
}

.reactHeading {
  color: #2c3e50;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
} */

/* Media queries for smaller screens (tablets and mobiles) */

/* For Tablets (max-width: 900px) */
/* @media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    justify-content: center;
    width: 90%;
  }

  .inputField {
    width: 80%;
    margin: 10px 0;
  }

  .newChatBtn,
  .sendBtn {
    width: 100%;
    margin: 10px 0;
  }

  .chatHistory {
    width: 95%;
    padding: 8px;
    margin-bottom: 20px;
  }

  .messageContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .chatMessage {
    font-size: 14px;
  }
} */

/* For Mobiles (max-width: 600px) */

/* @media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .inputField {
    width: 90%;
    margin: 10px 0;
  }

  .newChatBtn,
  .sendBtn {
    width: 90%;
    margin: 10px 0;
  }

  .chatHistory {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    max-height: 60vh;
  }

  .messageContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .chatMessage {
    font-size: 12px;
    max-width: 100%;
  }

  .reactHeading {
    font-size: 22px;
  }

  .spanLoading {
    font-size: 12px;
  }
} */
/* .spanLoading { 
  color: #4A90E2;;
}


.codeBox {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}


.codeBox .copyButton {
  font-size: 18px;
  width: 40px;
  color: #fff;
  padding: 4px;
  margin: 4px;
  border-width: 0px;
  border-radius: 5px;
  background-color: #4dd0e1;
}

.codeBox .copyButton:hover {
  background-color: #009688;
}


.codeBox .previewButton {
  border: 1px solid #4caf50;
  color: #4caf50;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  text-transform: none;
}
.previewButton{
  cursor: pointer;
}

.codeBox .previewButton:hover {
  background-color: #e8f5e9;
}

.codeBox pre {
  margin: 0;
  padding: 8px;
  background-color: #333;
  border-radius: 5px;
  overflow: auto;
  color: #f8f8f2;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-word;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 24px;
  width: 80%;
  max-width: 800px;
  height: 70%;
  overflow: hidden;
  text-align: center;
}

.modalHeader {
  margin-bottom: 10px;
}

.modalLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalIframe {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: none;
}

.modalIframe.loaded {
  display: block;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.previewButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
 */

/* ----------------------------------------------------------------------------------- */



/* Default styles for larger screens (desktops) */
.newChatBtn,
.sendBtn {
  margin: 0 10px;
  background-color: #4A4A4D;
  /* color: #4A4A4D; */
  font-weight: bold;
  height: 56px; /* Set height to match the TextField */
  cursor: pointer;
  border-radius: 8px;
  border: 0px;
  height: 56px;
  width: 55px; /* Adjusted width for laptops */
  background-color: #4A4A4D;
}

.inputField {
  height: 60px;
  width: 70%; /* Adjusted width for laptops */
  margin: 0 10px;
  border-radius: 8px;
  border-width: 1px;
  margin-top: 5px;
  background-color: #E0E0E0;
  /* color: #4A4A4D; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;/* Changed to space-between for better spacing on laptops */
  width: 80%; /* Adjusted width for laptops */
  margin-bottom: 65px;
  margin-top: 10px;
}

.container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 100%;
  background-color: #3C3C3E;
  background-color: #fff;
  background-color: #E0E0E0;
}



.chatHistory {
  width: 75%; 
  padding-right: 10px;
  background-color: #707073;
  
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  overflow: auto;
  /* scrollbar-width: none;  */
  /* -ms-overflow-style: none;  */
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}  
.chatHistoryVisible {
  opacity: 1;
  transform: translateY(0);
}



.chatHistoryWithPadding {
  height: 85vh;
  padding: 10px;
  padding-top: 18px;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chatMessage {
  border-radius: 10px;
  max-width: 70%;
  font-size: 15px;
  line-height: 1.6;
}

.userMessage {
  background-color: #E4E4E6;
  align-self: flex-end;
  color: #4A4A4D;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.gptMessage {
  padding: 8px;
  background-color: #707073;
  background-color: #f5f5f5;
  align-self: flex-start;
  color: #4A4A4D;
}



/* Media query for laptops (900px to 1200px) */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .header {
    flex-direction: row; /* Keep header in a row for laptops */
    justify-content: space-between;
    width: 80%; /* Adjust width for laptops */
  }

  .inputField {
    width: 70%; /* Adjust width for laptops */
    margin: 0 15px;
  }

  .newChatBtn,
  .sendBtn {
    width: 120px; /* Adjust width for laptops */
    margin: 0 10px;
  }

  .chatHistory {
    width: 75%; /* Adjust width for laptops */
    padding: 10px;
    margin-bottom: 15px;
  }

  .messageContainer {
    flex-direction: row; /* Align messages in a row on laptops */
    align-items: flex-start;
  }

  .chatMessage {
    font-size: 16px; /* Adjust font size for better readability on laptops */
  }

  .reactHeading {
    font-size: 24px; /* Increase font size for better visibility */
  }

  .spanLoading {
    font-size: 14px; /* Adjust font size for loading message */
  }
}

.spanLoading { 
  color: #4A4A4D;
}

.codeBox {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.codeBox .copyButton {
  font-size: 18px;
  width: 35px;
  height:35px ;
  color: #4A4A4D;
  padding: 4px;
  margin: 4px;
  border-width: 0px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.codeBlock{
  background-color: #4A90E2;
}

.codeBox .copyButton:hover {
  background-color: #E4E4E6;
}

.codeBox .previewButton {
  border: 1px solid #4A4A4D;
  color: #4A4A4D;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: none;
}

.previewButton {
  cursor: pointer;
}

/* .codeBox .previewButton:hover {
  background-color: #e8f5e9;
} */

.codeBox pre {
  margin: 0;
  padding: 8px;
  background-color: #333;
  border-radius: 5px;
  overflow: auto;
  color: #f8f8f2;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-word;
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 24px;
  width: 80%;
  max-width: 800px;
  height: 70%;
  overflow: hidden;
  text-align: center;
}

.modalHeader {
  margin-bottom: 10px;
}

.modalLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalIframe {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: none;
}

.modalIframe.loaded {
  display: block;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.previewButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
