.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: #E0E0E0; /* Dark background */
    color: #4A4A4D; /* White text for contrast */
    font-family: Arial, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5; /* Slightly lighter dark background */
    padding: 20px;
    margin: 20px;
    width: 30%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  }
  
  .input {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #E4E4E6;
    color: #4A4A4D;
  }
/*   
  .input:focus {
    outline: none;
    border-color: #0070f3; 
    box-shadow: 0 0 5px rgba(0, 112, 243, 0.5);
  }
   */
  .button {
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    /* background-color: #0070f3; /* Bright blue button */
    /* color: #ffffff; */
    background-color: #E4E4E6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #4A4A4D;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    /* background-color: #005bb5; */
    background-color:rgb(217 214 214);
  }
  
  .hr {
    width: 100%;
    border: 0.5px solid #444;
    margin: 20px 0;
    
  }
  .labelInput{
    text-align: left;
    margin: 10px 0;
    color: #4A4A4D; /* Slightly dimmed white for headers */
  }
  